# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files
*.utf8.md
*.knit.md
*.bmp
*.bpw
*.txt
*.csv

# Large files
*.grd
*.gri

# Other files
manuscript/
temporary/
data/gadm/world/
.Rproj.user